<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Site</title>
  <link href="/site/static/css/output.css" rel="stylesheet">
</head>
<body>
  <%- include("../includes/navbar.ejs"); %>

  <main class="p-5">
    <div class="mb-5">
      <h1 class="text-2xl">Site</h1>
      <p>Site renderizando as informações do db</p>
    </div>
  
    <ul id="userList" class="flex flex-wrap gap-4">
      <% if(user && user.length > 0) { %>
        <% user.forEach(users => { %>
          <%- include("../includes/card.ejs", { users }); %>
        <% }) %>
      <% } else { %>
        <li>Nenhum post encontrado</li>
      <% } %>
    </ul>
  </main>
  <script src="/site/static/js/scriptSearch.js"></script>
</body>
</html>